.list-group {
  max-height: 60vh;
}

.list-group.drag-over {
  border: 2px dashed var(--bs-warning);
}

.letter-header {
  font-weight: 600;
  background-color: var(--bs-secondary);
  color: var(--bs-light);
}

